@import url('https://fonts.googleapis.com/css?=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{margin:0;padding:0;box-sizing:border-box;font-family:'Poppins', sans-serif;scroll-behavior:smooth;}
p{font-weight:300;color:black;}

.banner{position:relative;width:100%;min-height:100vh;display:flex;justify-content:center;align-items:center;
background:url(dede.png);background-size:cover;}
.banner .content{max-width:900px;text-align:center;}
.banner .content h2{font-size:5em;color:white;}
.banner .content h2 span{color:brown;}
.banner .content p{font-size:1em; color:white;}
.btn{font-size:1em;color:white;background:orange;display:inline-block;padding:10px 30px;margin-top:20px;
text-decoration:uppercase;text-transform:none;transition:0.5s;letter-spacing:2px;}
.btn:hover{letter-spacing:6px;}
header{position:fixed;top:0;left;width:100%;padding: 40px 100px;z-index:10000;display:flex;justify-content:
space-between;align-items:center;transition:0.5s;}
header.sticky{background:white;padding:10px 100px;box-shadow:0 5px 20px rgba(0,0,0,0.05);}
header .logo{color:white;font-weight:700;font-size:2em;text-decoration:none;}
header.sticky .logo{color:black;}
header .logo span{color:orange;font-style:Arial;}
header .navigation{position:relative;display:flex;}
header .navigation li{list-style:none;margin-left:30px;}
header .navigation li a {color:white;text-decoration:none;font-weight:300;}
header.sticky .navigation li a{color:black;}
header .navigation li a:hover{color:green;}
section{padding:100px;}
.row{position:relative;width:100%;display:flex;justify-content:space-between;}
.row .col50{position:relative; width:48%;}
.titleText{color:black;font-size:2em;font-weight:300;}
.titleText span {color:green;font-weight:700;font-size:1.5em; }
.row .col50 .imgBx {position:relative;width:100%;height:100% ;}
.row .col50 .imgBx img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;}
.title {width:100%;display:flex;justify-content:center;align-items:center;flex-direction:column;}
.programs .content{display:flex;justify-content:center;flex-direction:row-reverse;flex-wrap:wrap;
margin-top:40px;}
.programs .content .box{width:340px;margin:20px;border:15px solid white ;box-shadow:0 5px 35px 
rgba(0,0,0,0.8);}
.programs .content .box .imgBx{position:relative;width:100%;height:300px;}
.programs .content .box .imgBx img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:center;}
.programs .content .box .text{padding:15px 0 5px;}
.faculties .content{display:flex;justify-content:center;flex-wrap:wrap;flex-direction:row;margin-top:40px;}
.faculties .content .box{width:250px;margin:15px;}
.faculties .content .box .imgBx{position:relative;width:100%;height:300px;}
.faculties .content .box .imgBx img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;}
.faculties .content .box .text{padding:15px 0 5px;}
.faculties .content .box .text h3{font-weight:400;color:green;}
.alumni{background-color:orange;background-size:cover;}
.white .titleText, .white p{color:white;}
.alumni .content{display:flex;justify-content:center;flex-wrap:wrap;flex-direction:row;margin-top:40px;}
.alumni .content .box{width:340px;margin:20px;padding:40px;background:white;display:flex;justify-content:center;flex-direction:column;}
.alumni .content .box .imgBx{position:relative;width:80px;height:80px;margin-bottom:20px;border-radius:50%;overflow:hidden;}
.alumni .content .box .imgBx img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;}
.alumni .content .box .text{text-align:center;}
.alumni .content .box .text p{color:green;font-style:italic;}
.alumni .content .box .text h3{margin-top:20px;color:black;font-size:1em;color:red;font-weight:600;}
.copyrightText{padding:8px 40px;border-top:1px solid rgba(0,0,0,0.1);text-align:center;}
.copyrightText p {color:blue;}
.copyrightText a {color:green;font-weight:500;text-decoration:none;}
@media (max-width:991px){header, header.sticky{padding: 10px 20px;}header .navigation{display:none;}
header .navigation.active{width:100%;height:calc(100% - 68px);position:fixed;top:68px;left:0;display:flex;justify-content:center;align-items:center;
flex-direction:column;background:white;}header .navigation li { margin-left: 0;}
header .navigation li a {color: black;font-size: 1.6em;}
.menuToggle{position:relative;width:40px;height:40px;background:url(open.png);background-size:30px;
background-repeat:no-repeat;background-position:center;cursor:pointer;}.menuToggle.active{background:url(x.png);
background-size:25px;background-repeat:no-repeat;background-position:center;}header.sticky .menuToggle{filter:invert(1);}
section { padding: 20px} .banner .content h2{font-size:3em;color:white;}.row{flex-direction:column;}
.row .col50{position:relative;width:100%;} .row .col50 .imgBx { height: 300px; margin-top: 20px}
.programs .content {margin-top: 20px;}.programs .content .box{margin: 10px;}.programs .content .box .imgBx {height: 260px;}
.title {text-align: center}.titleText {font-size: 1.8em;line-height: 1.5em;font-weight: 300;margin-bottom: 15px;
}.alumni .content .box { margin: 10px; padding: 20px;}}
@media (max-width: 480px){
.banner .content h2 {font-size: 2.2em; color: white;}